*{
	box-sizing: border-box;
	/* This makes the widths of elements more consistent
		Full details here https://css-tricks.com/box-sizing/ */
}


html{

	 scroll-behavior: smooth;
}
body{
	margin: 0px; /* Often browsers have a 5px margin by deafult*/
	padding: 0px;
	/*background-color: #F7F1EF; */
		/*background-color: #282828;*/
	font-family: 'Heebo', sans-serif;

}

section{
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	margin-bottom: 20px;
}

header{
	background-color: #282828;
	color: #F7F1EF;
	padding-top: 50px;
	padding-bottom: 50px;
	position: relative;
}


header::after{
	content: '';
	display: table;
	clear: both;
}


.header {
	padding: 0;
	position: fixed;
	width: 100%;
	display: inline-block;


}



nav{
	float: right;
	padding: 0;
	margin-right: 10%;
	display: inline-block;
	color: #F7F1EF;
	text-decoration: none;
	text-transform: uppercase;
	margin-top: 2%;

}

.title {

	margin-left: 10%;
	margin-top: 2%;
	float: left;

}


h1 {
	  letter-spacing: 0.15em;
}

h2 {
	letter-spacing: 0.15em;
	font-size: 20px;
}





#intro {
margin-top: 85px;
padding-top: 100px;

padding-bottom: 400px;


}

#zero {
	margin: 0%;
	padding: 0%;

}

/*
.rect1 {
  width: 5%;
  height: 100%;
  background: white;
  position: fixed;
  top: 0%;
  left: 0%;
  margin-top: 0%;
  margin-left:0%;

}
*/

.rect2 {
  width: 100%;
  height: 100%;
  background: white;
  position: relative;
  top: 0%;
  left: 0%;
  margin-top: 0%;
  margin-left:0%;

}

.rect3 {
  width: 100%;
  height: 100%;
  background: pink;
  position: relative;
  top: 0%;
  left: 0%;
  margin-top: 0%;
  margin-left:0%;

}

/* coppied code--------------------------------------------------------------------*/

a {
  color: #F7F1EF;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;

  display: inline-block;
  padding: 15px 20px;
  position: relative;
}
a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  height: 2px;
  left: 50%;
  position: absolute;
  background: #F7F1EF;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a:hover:after {
  width: 100%;
  left: 0;
}


/* coppied code end----------------------------------------------------------------*/








/* Simple grid */
.g-row{
	width: 100%;
	overflow: hidden;
}

.g-row img{
	width: 100%; /*This makes all images in grids to be the size of their cell */
}

.g-50{
	width: 50%;
	float: left;
	margin: 0px 10px;
}

.g-30{
	width: 30%;
	float: left;
}

.g-70{
	width: 70%;
	float: left;
}

.show{
	border: 1px solid blue;
	padding: 2px;
}

.padded{
	padding: 20px; /* I add this to cells to add a little padding*/
}


#text-sections{
	padding: 20px 0px;
}

#one{
	padding: 4px 0px;
	visibility: hidden;
}

#two{
	padding: 4px 0px;
	visibility: hidden;
}

#three{
	padding: 4px 0px;
	visibility: hidden;
}




#images{
	margin-top: 20px;
	font-size: 100px;
	padding-top: 50px;
	padding-left: 86.6px;
	padding-right: 66.6px;
	margin-left: auto;
	margin-right: auto;

	background: #282828;

}





#all1{
	background: #282828;
	margin: 0;
	padding: 0;
	color: #F7F1EF;
}


#all2{
	background: #282828;
	margin: 0px;
	padding: 0px;
	color: #F7F1EF;

}


#all3{
	background: #282828;
	margin: 0;
	padding: 0;
	color: #F7F1EF;

}

#all-intro{
	background: #282828;
	margin: 0;
	padding: 0;
	color: #F7F1EF;
}





.block1{
	/*background: #282828;*/
}

.block2{
	background: yellow;
}



.footer{
position: absolute;
left: 0;
width: 100%;
height: 10%;
background-color: #282828;
color: #F7F1EF;
text-align: center;
margin-top: 150px;

}
